<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kinesia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kinesia.Properties.Settings>
            <setting name="ShoulderFlexion" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ShoulderExtension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElbowFlexion" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ElbowExtension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HipFlexion" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="HipExtension" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="KneeFlexion" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="KneeExtension" serializeAs="String">
                <value>0</value>
            </setting>
        </Kinesia.Properties.Settings>
    </userSettings>
</configuration>